<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="script.js"></script>
    <script src="local_table_storage.js"></script>
    <script src="crudapi.js"></script>
    <script src="mockutils.js"></script>
  </head>

  <body ng-app="myapp" ng-controller="MyCtrl">
    <p>Agora a gente tem um CrudApi que fala com o nosso backend via AJAX (#SQN!)</p>
    <p>Nosso CrudApi é um serviço mega genérico que sabe fazer crud de qualquer coisa</p>
    <p>É possível implementar um desse de verdade independente da sua tecnologia de backend.</p>
    <p>MAS ATENÇÃO: seu backend vai ter que tomar as devidas precauções de segurança pra isso!</p>
    <div>
      <span ng-show="loading">Buscando dados...</span>
      <span ng-show="saving">Salvando...</span>
    </div>
    <button ng-click="add_tony()">+Tony</button>
    <button ng-click="add_maria()">+Maria</button>
    <table>
      <tr>
        <th>id</th>
        <th>nome</th>
        <th>idade</th>
      </tr>
      <tr ng-repeat="p in pessoas">
        <td>{{p.id}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.idade}}</td>
      </tr>
    </table>
    <button ng-click="add_loro()">+Loro</button>
    <button ng-click="add_rex()">+Rex</button>
    <table>
      <tr>
        <th>id</th>
        <th>nome</th>
        <th>raca</th>
      </tr>
      <tr ng-repeat="a in animais">
        <td>{{a.id}}</td>
        <td>{{a.nome}}</td>
        <td>{{a.raca}}</td>
      </tr>
    </table>
  </body>

</html>